.hero.is-halfheight .hero-body,
.hero.is-fullheight .hero-body,
.hero.is-fullheight-with-navbar
.hero-body {
  align-items: flex-start;
}

.hero-foot {
  background-color: #262626;
  padding: 3rem 1.5rem 6rem;
  color: white;

  .content {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 40px;
      margin-right: 10px;
    }
    
    div {
      margin-right: 10px;
    }
  
    svg {
      height: 12px;
    }
  }

  

  @media screen and (max-width: 473px) {
    .content {
      flex-direction: column;
      justify-content: center;
    }
  }
}

.main-container-body {
  padding: 0 1.5rem;
}