.hero.is-halfheight .hero-body,
.hero.is-fullheight .hero-body,
.hero.is-fullheight-with-navbar
.hero-body {
  align-items: flex-start;
}

.hero-foot {
  background-color: #dddddd;
  padding: 3rem 1.5rem 6rem;
}

.main-container-body {
  padding: 0 1.5rem;
}