.disclosure {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 30px 0;

  padding: 20px;
  min-height: 40px;
  border-radius: 6px;
  background-color: #F2F2F2;

  @media screen and (max-width: 876px) {
    font-size: 12px;
  }
}