.hero-banner {
  position: relative;
  color: white;
  height: 500px;
  padding: 20px 0;
  background-image: url("/hero.png");

  .hero-title {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20%;
    left: 10%;
    font-family: 'Crete Round', serif;

    h1 {
      font-size: 45px;
    }

    h4 {
      font-size: 20px;
    }
  }

  h3 {
    position: absolute;
    bottom: 25%;
    right: 10%;
    font-size: 24px;
    font-weight: 500;
  }

  @media screen and (max-width: 1440px) {
    .hero-title {
      h1 {
        font-size: 30px;
        padding-right: 10px
      }

      h4 {
        font-size: 14px
      }
    }

    .bubbles {
      right: 5%;
    }
  }

  @media screen and (max-width: 1022px) {
    .hero-title {
      top: 10%;
      left: 10%
    }

    h3 {
      left: 10%;
      bottom: 25%
    }

    .bubbles {
      display: none;
    }
  }

  @media screen and (max-width: 441px) {
    .hero-title {
      top: 5%;
    }
    h3 {
      left: 10%;
      bottom: 25%
    }
  }
}