.informative-template {

  #title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  
    img {
      max-width: 60%;
      border-radius: 10px;
    }
  
    h2 {
      width: 100%;
      margin-bottom: 20px;
      font-weight: 600;
    }
  
    ul {
      width: 60%;
      background-color: #F2F2F2;
      border-radius: 6px;
      padding: 20px;
      box-shadow: 10px 10px 2px 1px #F2C166;
  
      p {
        font-size: 18px;
      }
    }
  
    @media screen and (max-width: 876px) {
      img {
        max-width: 100%;
      }
  
      ul {
        width: 100%;
        p {
          font-size: 14px;
        }
      }
    }
  }
  
  .content-body {
    h2, p {
      margin-bottom: 20px;
    }
  
    h3, h2 {
      font-weight: 600;
    }
  
    h4 {
      margin-left: 20px;
    }
  
    ul {
      list-style: disc;
      width: 60%;
      background-color: #F2F2F2;
      border-radius: 6px;
      padding: 20px;
      box-shadow: 10px 10px 2px 1px #F2C166;
      margin-bottom: 20px;
      margin-left: 30px;
      p {
        margin-bottom: 5px;
      }
    }
  
    li {
      margin-left: 30px;
    }
  
    img {
      border-radius: 10px;
    }
  
    @media screen and (max-width: 876px) {
      ul {
        width: calc(100% - 30px);
      }
    }
  }
}
