.card-container {
  width: 325px;
  height: 500px;
  margin-bottom: 20px;
  margin-right: 20px;
  cursor: pointer;

  .card {
    min-height: 500px;
    border-radius: 6px;

    .card-image {
      img {
        border-radius: 6px 6px 0 0;
      }
    }
    
    .content {
      div {
        position: absolute;
        bottom: 10px;
      }
    }
  }

  @media screen and (max-width: 369px) {
    width: 100%;
    margin-right: 0;
  }
}