@import "~react-bulma-components/src/index.sass";
@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@1&display=swap');

// Bulma overides
html.has-navbar-fixed-top, body.has-navbar-fixed-top {
  padding-top: 3.80rem !important;
}

.hero-foot {
  margin-top: 100px;
}

// Global styles
.is-green {
  color: rgb(180, 217, 102);
}

.green-background {
  background-color: rgb(180, 217, 102);
}

.is-coral {
  color: rgb(242, 128, 149);
}

.coral-background {
  background-color: rgb(242, 128, 149);
}

h1 { 
  font-size: 2em;
}
h2 { 
  font-size: 1.5em;
}
h3 { 
  font-size: 1.17em;
}
h4 { 
  font-size: 1.12em;
}
h5 { 
  font-size: .83em;
}
h6 { 
  font-size: .75em;
}

